<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Usage statistics</title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="../static/css/chart_styles.css">
    </head>
    <body>
        <div class='top-bar'>
            
            <div class='top-title' style='font-size: 40px'>Predicted Usage</div>

        </div>
        <div class='graphs' style="font-family: 'Questrial', sans-serif; font-size: 25px">
            <div class='break'>
                CPU
                <canvas id="cpu" width="600" height="400"></canvas>
                RAM
                <canvas id="ram" width="600" height="400"></canvas>
            </div>
                DISK
                <canvas id="disk" width="600" height="400"></canvas>
                NETWORK
                <canvas id="network" width="600" height="400"></canvas>
       
        </div>
        <!-- <input type="button" value="Update" onclick=updater()> -->

        
        <script type="text/javascript">
            
            window.onload = function() {
                $.getJSON("../timeseries-output.json", function (json) {
                    
                    var times = json.map(function(json) {
                        return json.timestamp;
                        
                    });
                    var cpus = json.map(function(json) {
                        return json.cpu;
                        
                    });
                    var rams = json.map(function(json) {
                        return json.ram;
                        
                    });
                    var disks = json.map(function(json) {
                        return json.disk;
                        
                    });
                    var networks = json.map(function(json) {
                        return json.network;
                        
                    });
                    
                // CPU
                var cpuData = {
                    labels : times,
                    datasets : [
                    {
                        fillColor : "rgba(172,194,132,0.4)",
                        strokeColor : "#ACC26D",
                        pointColor : "#fff",
                        pointStrokeColor : "#9DB86D",
                        data : cpus
                    }
                ]
                } 
                var cpu = document.getElementById('cpu').getContext('2d');
                var cpuChart= new Chart(cpu).Line(cpuData);

                
                // RAM
                var ramData = {
                    labels : times,
                    datasets : [
                    {
                        fillColor : "rgba(235,186,95,0.4)",
                        strokeColor : "#D4B14A",
                        pointColor : "#fff",
                        pointStrokeColor : "#D4944A",
                        data : rams
                    }
                ]
                }
                var ram = document.getElementById('ram').getContext('2d');
                var ramChart= new Chart(ram).Line(ramData);


                // DISK
                var diskData = {
                    labels : times,
                    datasets : [
                    {
                        fillColor : "rgba(160,130,234,0.4)",
                        strokeColor : "#87AAF6",
                        pointColor : "#fff",
                        pointStrokeColor : "#747AD4",
                        data : disks
                    }
                ]
                }
                var disk = document.getElementById('disk').getContext('2d');
                var diskChart= new Chart(disk).Line(diskData);


                // NETWORKS
                var networkData = {
                    labels : times,
                    datasets : [
                    {
                        fillColor : "rgba(235,72,62,0.4)",
                        strokeColor : "#D42C63",
                        pointColor : "#fff",
                        pointStrokeColor : "#D44D2C",
                        data : networks
                    }
                ]
                }

                var network = document.getElementById('network').getContext('2d');
                
                var networkChart= new Chart(network).Line(networkData);
                // updater();
                setTimeout(function(){
                    $.getJSON("timeseries-output.json", function (json) {
                    var times = json.map(function(json) {
                        return json.timestamp;
                        
                    });
                    var cpus = json.map(function(json) {
                        return json.cpu;
                        
                    });
                    var rams = json.map(function(json) {
                        return json.ram;
                        
                    });
                    var disks = json.map(function(json) {
                        return json.disk;
                        
                    });
                    var networks = json.map(function(json) {
                        return json.network;
                        
                    });

                    cpuChart.cpuData.datasets.data=cpus;
                    ramChart.ramData.datasets.data=rams;
                    diskChart.diskData.datasets.data=disks;
                    networkChart.networkData.datasets.data=networks;

                    cpuChart.cpuData.labels=times;
                    ramChart.ramData.labels=times;
                    diskChart.diskData.labels=times;
                    networkChart.networkData.labels=times;

                    cpuChart.update();
                    ramChart.update();
                    diskChart.update();
                    networkChart.update();
                    });
                }, 1000);


                });
                
                var updater = function() {
                    $.getJSON("../timeseries-output.json", function (json) {
                    var times = json.map(function(json) {
                        return json.timestamp;
                        
                    });
                    var cpus = json.map(function(json) {
                        return json.cpu;
                        
                    });
                    var rams = json.map(function(json) {
                        return json.ram;
                        
                    });
                    var disks = json.map(function(json) {
                        return json.disk;
                        
                    });
                    var networks = json.map(function(json) {
                        return json.network;
                        
                    });

                    cpuChart.cpuData.datasets.data=cpus;
                    ramChart.ramData.datasets.data=rams;
                    diskChart.diskData.datasets.data=disks;
                    networkChart.networkData.datasets.data=networks;

                    cpuChart.cpuData.labels=times;
                    ramChart.ramData.labels=times;
                    diskChart.diskData.labels=times;
                    networkChart.networkData.labels=times;

                    cpuChart.update();
                    ramChart.update();
                    diskChart.update();
                    networkChart.update();
                    setTimeout(function(){updater()}, 1000);

                    });
                }
            }
       
        </script>
    </body>
</html>